<div @pageLoadingAnimation class="container-lg g-0">
  <div class="d-flex justify-content-center align-items-center">

    <div class="col-4">
      <span (click)="goBack()" class="text-decoration-none cursor-pointer text-black pt-4"><i class="bi bi-arrow-left fs-3"></i></span>

      <h1 class="text-center mt-2" style="font-size: 48px">Edit</h1>


      <ng-container *ngIf="employeeResponse | async as rs" >
        <ng-container *ngIf="!rs.loading; else loading">
          <ng-container *ngIf="rs.error; else content">
            <app-not-found></app-not-found>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>


<ng-template #content>
  <form [formGroup]="editEmployeeForm" @pageLoadingAnimation>

      <div class="form-group">
        <label for="firstName" class="form-label">FIRST NAME</label>
        <input formControlName="firstName" type="text" id="firstName" class="form-input" placeholder="enter first name">
      </div>
      <div class="form-group mt-3">
        <label for="lastName" class="form-label">LAST NAME</label>
        <input formControlName="lastName" type="text" id="lastName" class="form-input" placeholder="enter last name">
      </div>
      <div class="form-group mt-3">
        <label for="employment-name" class="form-label">EMPLOYMENT DATE</label>
        <input formControlName="lastName" type="date" id="employment-name" class="form-input">
      </div>

      <div class="form-group mt-3">
        <label for="employmentDate" class="form-label">DEPARTMENT</label>

        <select formControlName="employmentDate" id="employmentDate" class="custom-select">
          <option disabled selected value="">select department</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
        </select>

      </div>
      <div class="form-group mt-3">
        <label for="salary" class="form-label">SALARY</label>
        <input formControlName="salary" type="number" id="salary" class="form-input">
      </div>

      <div class="mt-5 row row-cols-2 gx-2">
        <div>
          <button (click)="resetFormValues()" class="btn button-secondary w-100">Reset</button>
        </div>
        <div>

          <button (click)="saveChanges()" class="btn button-secondary w-100">Save</button>
        </div>
      </div>

  </form>

</ng-template>


